  <div class="row">
    <div class="large-12 columns">
      <h1>Welcome to Wiki Database</h1>
    </div>
  </div>

  <div class="row">
     <div class="large-12 columns">
         <a href="Task3Meta.html">Dataset 1</a><br/>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur itaque alias a, necessitatibus eligendi, ipsa voluptatum iusto, illo ratione facere expedita tenetur placeat veritatis doloremque aut quasi numquam accusantium magnam?</div>
          <div><span style="color:red">Code:</span><span style="color:black">WIKI/AAPL</span></div>
     </div>
     <hr />
  </div>
  
  <div class="row">
     <div class="large-12 columns">
         <a href="Task3Meta.html">Dataset 1</a><br/>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur itaque alias a, necessitatibus eligendi, ipsa voluptatum iusto, illo ratione facere expedita tenetur placeat veritatis doloremque aut quasi numquam accusantium magnam?</div>
          <div><span style="color:red">Code:</span><span style="color:black">WIKI/AAPL</span></div>
     </div>
     <hr />
  </div>

  <div class="row">
     <div class="large-12 columns">
         <a href="Task3Meta.html">Dataset 1</a><br/>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur itaque alias a, necessitatibus eligendi, ipsa voluptatum iusto, illo ratione facere expedita tenetur placeat veritatis doloremque aut quasi numquam accusantium magnam?</div>
          <div><span style="color:red">Code:</span><span style="color:black">WIKI/AAPL</span></div>
     </div>
     <hr />
  </div>
  
  <div class="row">
     <div class="large-12 columns">
         <a href="Task3Meta.html">Dataset 1</a><br/>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur itaque alias a, necessitatibus eligendi, ipsa voluptatum iusto, illo ratione facere expedita tenetur placeat veritatis doloremque aut quasi numquam accusantium magnam?</div>
          <div><span style="color:red">Code:</span><span style="color:black">WIKI/AAPL</span></div>
     </div>
     <hr />
  </div>
  
       
  <div class="row">
    <div class="large-2 columns">
      <ul class="small-block-grid-2">
        <li><a href="" class="button small"><<</a></li>
        <li><a href="" class="button small">>></a></li>
      </ul>
    </div>
    <div class="large-10 columns"></div>
  </div>